<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <!-- Консольный аппендер -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <!-- Формат лога: дата, уровень, поток, класс, сообщение -->
            <pattern>%d{yyyy-MM-dd HH:mm:ss} %-5level [%thread] %logger{36} %X{transactionId} %X{requestURI} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Файловый аппендер с ротацией -->
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>logs/app.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- Ротация по дням -->
            <fileNamePattern>logs/app.%d{yyyy-MM-dd}.log</fileNamePattern>
            <!-- Хранить 30 дней -->
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} %-5level [%thread] %logger{36} - %X{transactionId} - %X{requestURI} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Уровень логирования для пакетов -->
    <logger name="org.springframework" level="INFO"/>
    <logger name="by.awesome.sup" level="DEBUG"/>

    <!-- Корневой логгер -->
    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
        <!--<appender-ref ref="FILE"/>-->
    </root>

</configuration>